@charset "utf-8";
.data-grid {
  position: relative; // 方便定位

  .hidden {
    display: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
  }

  th, td {
    text-align: center;
  }

  th {
    position: relative; // 方便定位
  }

  td {
    word-wrap: break-word;
    word-break: break-all;
  }

  .grid-wrapper {
    display: flex;
    flex-direction: column;
  }

  .grid-columns {
    position: relative;
  }

  .grid-columns-wrapper {
    overflow: hidden;
    flex-shrink: 0;
  }

  .grid-body-wrapper {
    flex-grow: 999;
    overflow: scroll;
  }

  .grid-no-data {
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background-color: rgba(255, 255, 255, 0.6);

    .no-data-content {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
    }
  }

  // 下面的样式是一些可以被覆盖的
  background-color: #fff;
  font-size: 12px;
  color: #333;

  th {
    font-weight: bold;
  }

  tr {
    height: 34px;
  }

  .grid-columns-wrapper {
    background-color: #f8f8f8;
    border: 1px solid #e7eaec;
  }

  .grid-body-wrapper {
    border: 1px solid #e7eaec;
    border-top: none;
  }

  .grid-body-wrapper tr {
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }

    &.hover {
      background-color: #f3f3f3;
    }
  }
}
