@charset "utf-8";
.datagrid {
  position: relative; // 方便定位

  .hidden {
    display: none;
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
  }

  th, td {
    text-align: center;
  }

  th {
    position: relative; // 方便定位
    padding: 0 20px; // 方便添加其它小图表, 例如排序时的三角箭头
  }
  .grid-body {
    //min-width: 100%;
  }

  .grid-columns {
    position: relative;
  }

  .grid-columns-wrapper {
    overflow: hidden;
  }

  .grid-body-wrapper {
    overflow: scroll;
  }

  .grid-no-data {
    text-align: center;
  }
}

// 下面的样式是一些可以被覆盖的
.datagrid {
  background-color: #fff;
  font-size: 12px;
  color: #333;

  th {
    font-weight: bold;
  }

  tr {
    height: 34px;
  }

  .grid-columns-wrapper {
    background-color: #f8f8f8;
    border: 1px solid #e7eaec;
  }

  .grid-body-wrapper {
    border: 1px solid #e7eaec;
    border-top: none;
  }

  .grid-body-wrapper tr {
    &:nth-child(2n) {
      background-color: #f8f8f8;
    }

    &.hover {
      background-color: #f3f3f3;
    }
  }
}
